projetoDF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "projetoDF"
		},
		"AzureDataLakeStoragels_accountKey": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accountKey' de 'AzureDataLakeStoragels'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'AzureDatabricks1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'connectionString' de 'AzureSqlDatabase1'"
		},
		"labDB_password": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'password' de 'labDB'"
		},
		"AzureDataLakeStoragels_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakeprojeto99.dfs.core.windows.net/"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0323-141419-zaiskpy5"
		},
		"labDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "database-1.cqnd6cyyb20z.us-east-2.rds.amazonaws.com"
		},
		"labDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "lab"
		},
		"labDB_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "admin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Extracao_API_clientes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Extrair_dados_api",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Eng_Dados/Databricks_notebooks/Extração_de_dados_api_clientes"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Tratar_dados_api",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Extrair_dados_api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Eng_Dados/Databricks_notebooks/Tratamento_api_clientes"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "envia_DL_inbound_bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Tratar_dados_api",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Eng_Dados/Databricks_notebooks/envia_api_cliente_data_lake"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "cria_tabela_dw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "envia_DL_inbound_bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "DELETE FROM clientes",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "api_cliente_csv_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-26T13:50:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]",
				"[concat(variables('factoryId'), '/datasets/api_cliente_csv_src')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copia_tabela-empresa')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copiar_tabela_empresa",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "SELECT * FROM empresa WHERE EMP_STATUS = 'Ativo'"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySql_all_table",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dw_empresa",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-28T12:32:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MySql_all_table')]",
				"[concat(variables('factoryId'), '/datasets/dw_empresa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dados_corretor')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copiar_csv_corretora_dw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "corretora_csv_2015",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dw_corretora",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copiar_csv_corretora_dw_2016",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copiar_csv_corretora_dw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "corretora_csv_2016",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dw_corretora",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copiar_csv_corretora_dw_2017",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copiar_csv_corretora_dw_2016",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "corretora_csv_2017",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dw_corretora",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copiar_csv_corretora_dw_2018",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copiar_csv_corretora_dw_2017",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "corretora_csv_2018",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dw_corretora",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copiar_csv_corretora_dw_2019",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copiar_csv_corretora_dw_2018",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "corretora_csv_2019",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dw_corretora",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copiar_csv_corretora_dw_2020",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copiar_csv_corretora_dw_2019",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "corretora_csv_2020",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dw_corretora",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-29T12:38:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/corretora_csv_2015')]",
				"[concat(variables('factoryId'), '/datasets/dw_corretora')]",
				"[concat(variables('factoryId'), '/datasets/corretora_csv_2016')]",
				"[concat(variables('factoryId'), '/datasets/corretora_csv_2017')]",
				"[concat(variables('factoryId'), '/datasets/corretora_csv_2018')]",
				"[concat(variables('factoryId'), '/datasets/corretora_csv_2019')]",
				"[concat(variables('factoryId'), '/datasets/corretora_csv_2020')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_inbound",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_mysql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings",
										"preserveZipFileNameAsFolder": false
									}
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_boston_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_boston_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_mysql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySqlTableCliente",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_boston_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-23T14:31:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_boston_src')]",
				"[concat(variables('factoryId'), '/datasets/ds_boston_sink')]",
				"[concat(variables('factoryId'), '/datasets/MySqlTableCliente')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_ingestion_api_cliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_API_CLIENTE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cliente_parquet_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "cliente_parquet_sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-02-26T13:16:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/cliente_parquet_src')]",
				"[concat(variables('factoryId'), '/datasets/cliente_parquet_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/teste_github')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "api_cliente_csv_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "api_cliente_csv_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data1_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "api_cliente_csv_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-04-02T22:18:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/api_cliente_csv_src')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "clientes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DL_Delimited_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CLI_ID",
						"type": "String"
					},
					{
						"name": "CLI_NOME",
						"type": "String"
					},
					{
						"name": "CLI_BAIRRO",
						"type": "String"
					},
					{
						"name": "CLI_LOGRADOURO",
						"type": "String"
					},
					{
						"name": "CLI_UF",
						"type": "String"
					},
					{
						"name": "CLI_CIDADE",
						"type": "String"
					},
					{
						"name": "CLI_CEP",
						"type": "String"
					},
					{
						"name": "CLI_TELEFONE",
						"type": "String"
					},
					{
						"name": "CLI_CPF",
						"type": "String"
					},
					{
						"name": "CLI_EMAIL",
						"type": "String"
					},
					{
						"name": "CLI_STATUS",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySqlTableCliente')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "labDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`cliente`"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/labDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySql_all_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "labDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"table": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/labDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/api_cliente_csv_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "api_cliente_bronze.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "NOME",
						"type": "String"
					},
					{
						"name": "BAIRRO",
						"type": "String"
					},
					{
						"name": "RUA",
						"type": "String"
					},
					{
						"name": "NUMERO",
						"type": "String"
					},
					{
						"name": "UF",
						"type": "String"
					},
					{
						"name": "CIDADE",
						"type": "String"
					},
					{
						"name": "CEP",
						"type": "String"
					},
					{
						"name": "TELEFONE",
						"type": "String"
					},
					{
						"name": "CPF",
						"type": "String"
					},
					{
						"name": "EMAIL",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cliente_parquet_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "silver"
					},
					"compressionCodec": "none"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cliente_parquet_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "cliente.parquet",
						"fileSystem": "inbound"
					},
					"compressionCodec": "none"
				},
				"schema": [
					{
						"name": "ID",
						"type": "INT64"
					},
					{
						"name": "NOME",
						"type": "UTF8"
					},
					{
						"name": "BAIRRO",
						"type": "UTF8"
					},
					{
						"name": "RUA",
						"type": "UTF8"
					},
					{
						"name": "UF",
						"type": "UTF8"
					},
					{
						"name": "CIDADE",
						"type": "UTF8"
					},
					{
						"name": "CEP",
						"type": "UTF8"
					},
					{
						"name": "TELEFONE",
						"type": "UTF8"
					},
					{
						"name": "CPF",
						"type": "UTF8"
					},
					{
						"name": "EMAIL",
						"type": "UTF8"
					},
					{
						"name": "STATUS",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/corretora_csv_2015')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "corretora"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dados_2015.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "case_enquiry_id",
						"type": "String"
					},
					{
						"name": "open_dt",
						"type": "String"
					},
					{
						"name": "sla_target_dt",
						"type": "String"
					},
					{
						"name": "closed_dt",
						"type": "String"
					},
					{
						"name": "on_time",
						"type": "String"
					},
					{
						"name": "case_status",
						"type": "String"
					},
					{
						"name": "closure_reason",
						"type": "String"
					},
					{
						"name": "case_title",
						"type": "String"
					},
					{
						"name": "subject",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "queue",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "submitted_photo",
						"type": "String"
					},
					{
						"name": "closed_photo",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "fire_district",
						"type": "String"
					},
					{
						"name": "pwd_district",
						"type": "String"
					},
					{
						"name": "city_council_district",
						"type": "String"
					},
					{
						"name": "police_district",
						"type": "String"
					},
					{
						"name": "neighborhood",
						"type": "String"
					},
					{
						"name": "neighborhood_services_district",
						"type": "String"
					},
					{
						"name": "ward",
						"type": "String"
					},
					{
						"name": "precinct",
						"type": "String"
					},
					{
						"name": "location_street_name",
						"type": "String"
					},
					{
						"name": "location_zipcode",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "geom_4326",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/corretora_csv_2016')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "corretora"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dados_2016.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "case_enquiry_id",
						"type": "String"
					},
					{
						"name": "open_dt",
						"type": "String"
					},
					{
						"name": "sla_target_dt",
						"type": "String"
					},
					{
						"name": "closed_dt",
						"type": "String"
					},
					{
						"name": "on_time",
						"type": "String"
					},
					{
						"name": "case_status",
						"type": "String"
					},
					{
						"name": "closure_reason",
						"type": "String"
					},
					{
						"name": "case_title",
						"type": "String"
					},
					{
						"name": "subject",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "queue",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "submitted_photo",
						"type": "String"
					},
					{
						"name": "closed_photo",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "fire_district",
						"type": "String"
					},
					{
						"name": "pwd_district",
						"type": "String"
					},
					{
						"name": "city_council_district",
						"type": "String"
					},
					{
						"name": "police_district",
						"type": "String"
					},
					{
						"name": "neighborhood",
						"type": "String"
					},
					{
						"name": "neighborhood_services_district",
						"type": "String"
					},
					{
						"name": "ward",
						"type": "String"
					},
					{
						"name": "precinct",
						"type": "String"
					},
					{
						"name": "location_street_name",
						"type": "String"
					},
					{
						"name": "location_zipcode",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "geom_4326",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/corretora_csv_2017')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "corretora"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dados_2017.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "case_enquiry_id",
						"type": "String"
					},
					{
						"name": "open_dt",
						"type": "String"
					},
					{
						"name": "sla_target_dt",
						"type": "String"
					},
					{
						"name": "closed_dt",
						"type": "String"
					},
					{
						"name": "on_time",
						"type": "String"
					},
					{
						"name": "case_status",
						"type": "String"
					},
					{
						"name": "closure_reason",
						"type": "String"
					},
					{
						"name": "case_title",
						"type": "String"
					},
					{
						"name": "subject",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "queue",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "submitted_photo",
						"type": "String"
					},
					{
						"name": "closed_photo",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "fire_district",
						"type": "String"
					},
					{
						"name": "pwd_district",
						"type": "String"
					},
					{
						"name": "city_council_district",
						"type": "String"
					},
					{
						"name": "police_district",
						"type": "String"
					},
					{
						"name": "neighborhood",
						"type": "String"
					},
					{
						"name": "neighborhood_services_district",
						"type": "String"
					},
					{
						"name": "ward",
						"type": "String"
					},
					{
						"name": "precinct",
						"type": "String"
					},
					{
						"name": "location_street_name",
						"type": "String"
					},
					{
						"name": "location_zipcode",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "geom_4326",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/corretora_csv_2018')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "corretora"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dados_2018.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "case_enquiry_id",
						"type": "String"
					},
					{
						"name": "open_dt",
						"type": "String"
					},
					{
						"name": "sla_target_dt",
						"type": "String"
					},
					{
						"name": "closed_dt",
						"type": "String"
					},
					{
						"name": "on_time",
						"type": "String"
					},
					{
						"name": "case_status",
						"type": "String"
					},
					{
						"name": "closure_reason",
						"type": "String"
					},
					{
						"name": "case_title",
						"type": "String"
					},
					{
						"name": "subject",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "queue",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "submitted_photo",
						"type": "String"
					},
					{
						"name": "closed_photo",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "fire_district",
						"type": "String"
					},
					{
						"name": "pwd_district",
						"type": "String"
					},
					{
						"name": "city_council_district",
						"type": "String"
					},
					{
						"name": "police_district",
						"type": "String"
					},
					{
						"name": "neighborhood",
						"type": "String"
					},
					{
						"name": "neighborhood_services_district",
						"type": "String"
					},
					{
						"name": "ward",
						"type": "String"
					},
					{
						"name": "precinct",
						"type": "String"
					},
					{
						"name": "location_street_name",
						"type": "String"
					},
					{
						"name": "location_zipcode",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "geom_4326",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/corretora_csv_2019')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "corretora"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dados_2019.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "case_enquiry_id",
						"type": "String"
					},
					{
						"name": "open_dt",
						"type": "String"
					},
					{
						"name": "sla_target_dt",
						"type": "String"
					},
					{
						"name": "closed_dt",
						"type": "String"
					},
					{
						"name": "on_time",
						"type": "String"
					},
					{
						"name": "case_status",
						"type": "String"
					},
					{
						"name": "closure_reason",
						"type": "String"
					},
					{
						"name": "case_title",
						"type": "String"
					},
					{
						"name": "subject",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "queue",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "submitted_photo",
						"type": "String"
					},
					{
						"name": "closed_photo",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "fire_district",
						"type": "String"
					},
					{
						"name": "pwd_district",
						"type": "String"
					},
					{
						"name": "city_council_district",
						"type": "String"
					},
					{
						"name": "police_district",
						"type": "String"
					},
					{
						"name": "neighborhood",
						"type": "String"
					},
					{
						"name": "neighborhood_services_district",
						"type": "String"
					},
					{
						"name": "ward",
						"type": "String"
					},
					{
						"name": "precinct",
						"type": "String"
					},
					{
						"name": "location_street_name",
						"type": "String"
					},
					{
						"name": "location_zipcode",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "geom_4326",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/corretora_csv_2020')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "corretora"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dados_2020.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "case_enquiry_id",
						"type": "String"
					},
					{
						"name": "open_dt",
						"type": "String"
					},
					{
						"name": "sla_target_dt",
						"type": "String"
					},
					{
						"name": "closed_dt",
						"type": "String"
					},
					{
						"name": "on_time",
						"type": "String"
					},
					{
						"name": "case_status",
						"type": "String"
					},
					{
						"name": "closure_reason",
						"type": "String"
					},
					{
						"name": "case_title",
						"type": "String"
					},
					{
						"name": "subject",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "queue",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "submitted_photo",
						"type": "String"
					},
					{
						"name": "closed_photo",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "fire_district",
						"type": "String"
					},
					{
						"name": "pwd_district",
						"type": "String"
					},
					{
						"name": "city_council_district",
						"type": "String"
					},
					{
						"name": "police_district",
						"type": "String"
					},
					{
						"name": "neighborhood",
						"type": "String"
					},
					{
						"name": "neighborhood_services_district",
						"type": "String"
					},
					{
						"name": "ward",
						"type": "String"
					},
					{
						"name": "precinct",
						"type": "String"
					},
					{
						"name": "location_street_name",
						"type": "String"
					},
					{
						"name": "location_zipcode",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "geom_4326",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_boston_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_boston_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStoragels",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dados_baston.zip",
						"fileSystem": "inbound"
					},
					"columnDelimiter": ",",
					"compressionCodec": "ZipDeflate",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PK\u0005\u0006\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStoragels')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw_corretora')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "corretora"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "corretora"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw_empresa')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "empresa"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStoragels')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStoragels_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStoragels_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1287707726161764.4.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/labDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"server": "[parameters('labDB_properties_typeProperties_server')]",
					"port": 3306,
					"database": "[parameters('labDB_properties_typeProperties_database')]",
					"username": "[parameters('labDB_properties_typeProperties_username')]",
					"sslMode": 1,
					"useSystemTrustStore": 0,
					"password": {
						"type": "SecureString",
						"value": "[parameters('labDB_password')]"
					},
					"driverVersion": "v2"
				}
			},
			"dependsOn": []
		}
	]
}